header{
    background-image: url(./);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body{
    background-color: black;
}

.c-blue{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: red !important;
}

i{
    font-size: 25px;
}


footer{
    background-image: url(../images/GOWACS.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}